.App {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background: #ECE9E6; 
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6); 
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);  */

  background-image: url("https://images.unsplash.com/photo-1589578641895-56f5e660549f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.test-color {
  color: rgba(255, 255, 255, 0.452);
}