.App {
  text-align: center;
}

body {
  /* background: #ECE9E6; 
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6); 
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);  */

  background-image: url("https://images.unsplash.com/photo-1492428318126-dd7ead0cf184?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2082&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.test-color {
  color: rgba(255, 255, 255, 0.452);
}