.App {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../assets/images/notebook background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.test-color {
  color: rgba(255, 255, 255, 0.452);
}